# Хід роботи

In [56]:
from pycaret.datasets import get_data
data = get_data('traffic')

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,Rush Hour,traffic_volume
0,NaN,288.28,0.0,0.0,40,Clouds,1,5545
1,NaN,289.36,0.0,0.0,75,Clouds,0,4516
2,NaN,289.58,0.0,0.0,90,Clouds,0,4767
3,NaN,290.13,0.0,0.0,90,Clouds,0,5026
4,NaN,291.14,0.0,0.0,75,Clouds,0,4918

 Функція get_data('traffic') завантажує датасет "traffic" із вбудованої бібліотеки PyCaret і виводить перші 5 рядків для попереднього перегляду. Змінна data міститиме повний набір даних у форматі pandas DataFrame.

### Опис ознак датасету "traffic"
Для повного розуміння фізичного сенсу даних я дослідив датасет "traffic" у документації PyCaret та інших джерелах. Ось опис усіх ознак:
1. holiday: Описано нижче
2. temp: Температура повітря в градусах (ймовірно, за Цельсієм).
3. rain_1h: Кількість опадів (дощу) за останню годину в міліметрах.
4. snow_1h: Кількість снігу за останню годину в міліметрах.
5. clouds_all: Відсоток хмарності (0–100%).
6. weather_main: Описано нижче
7. Rush Hour: Бінарна ознака, що вказує на годину пік (1 — так, 0 — ні).
8. traffic_volume: Обсяг трафіку (цільова змінна), числове значення, що показує кількість транспортних засобів за певний період.

In [57]:
data.holiday.unique(), data.weather_main.unique()

(array([nan, 'Columbus Day', 'Veterans Day', 'Thanksgiving Day',
        'Christmas Day', 'New Years Day', 'Washingtons Birthday',
        'Memorial Day', 'Independence Day', 'State Fair', 'Labor Day',
        'Martin Luther King Jr Day'], dtype=object),
 array(['Clouds', 'Clear', 'Rain', 'Drizzle', 'Mist', 'Haze', 'Fog',
        'Thunderstorm', 'Snow', 'Squall', 'Smoke'], dtype=object))

Ці ознаки дозволяють проаналізувати, як погодні умови, святкові дні та години пік впливають на обсяг трафіку.

### Вибір завдання для аналізу

Тепер визначаємо яке завдання машинного навчання є актуальним для цього датасету: регресія, класифікація чи кластеризація.

Цільова змінна ознака traffic_volume є числовою (наприклад, 5000 одиниць трафіку), що вказує на можливість використання регресії для передбачення точного значення обсягу трафіку на основі інших ознак. 

Оскільки traffic_volume є числовою ознакою, а мета — передбачити її значення, обираємо регресію як основне завдання.

## Аналіз даних та тренування моделей
### Налаштування експерименту

Параметр target='traffic_volume' вказує, що traffic_volume є цільовою змінною. Після виконання цієї команди PyCaret виведе таблицю з інформацією про датасет: кількість рядків, ознак, типи даних, пропущені значення тощо.

In [58]:
from pycaret import regression
regression.setup(data, target='traffic_volume')

## Порівняння моделей

Функція compare_models() тренує кілька регресійних моделей (лінійна регресія, Random Forest, XGBoost тощо) за допомогою крос-валідації та виводить таблицю з результатами. Найкраща модель (з найвищим R²) зберігається у змінній best_model.

In [59]:
best_model = regression.compare_models()

##  Оцінка продуктивності моделі

Для детального аналізу найкращої моделі використаємо функцію evaluate_model. Residuals Plot показує розподіл залишків (різницю між прогнозами та реальними значеннями). Prediction Error порівняння прогнозованих і фактичних значень. Feature Importance важливість кожної ознаки (наприклад, Rush Hour чи temp можуть мати найбільший вплив).

In [60]:
regression.evaluate_model(best_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

## Налаштування гіперпараметрів

Функція tune_model оптимізує гіперпараметри (наприклад, глибину дерева для Random Forest) за допомогою пошуку по сітці або випадкового пошуку. Після цього виводяться оновлені метрики.

In [61]:
tuned_model = regression.tune_model(best_model)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

## Збереження моделі

Файл traffic_model.pkl міститиме повний пайплайн (обробку даних і модель).

In [62]:
regression.save_model(tuned_model, 'traffic_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['temp', 'rain_1h', 'snow_1h',
                                              'clouds_all', 'Rush Hour'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=None,
                                                               keep_empty_features=False,
                                                               missing_values=nan,
                                                               strategy='mean'))),
                 ('categorical_imputer',
                  TransformerWrapper(exclude=None,...
                  LGBMRegressor(boosting_type='gbdt', class_weight=None,
                                colsample_bytree=1.0, importance_type='split',
                                learning_rate=0.1, max_depth=-1,
                                min_child_samples=20, min_child_weight=0.001,
                                min_split_gain=0.0, n_estimators=100, n_jobs=-1,
                                num_leaves=31, objective=None, random_state=453,
                                reg_alpha=0.0, reg_lambda=0.0, subsample=1.0,
                                subsample_for_bin=200000, subsample_freq=0))],
          verbose=False),
 'traffic_model.pkl')

# Висновок

Ми завантажили датасет "traffic" із PyCaret та описали його ознаки: holiday, temp, rain_1h, snow_1h, clouds_all, weather_main, Rush Hour, traffic_volume. Основним завданням було передбачення traffic_volume, для чого ми обрали метод регресії.

У процесі аналізу ми налаштували експеримент, порівняли моделі, оцінили їхню продуктивність та здійснили налаштування гіперпараметрів. Після завершення роботи зберегли навчений алгоритм у файл traffic_model.pkl.

PyCaret значно спростив аналіз даних, дозволяючи виконати всі кроки з мінімальною кількістю коду. Метрики MAE, MSE, R², отримані на етапах порівняння та оцінки моделей, допомогли оцінити якість аналізу.