<p style="text-align: center;">
    Міністерство освіти і науки України
    <br>
    Харківський національний університет радіоелектроніки
    <br><br><br><br>
    Кафедра системотехніки
    <br>
    Дисципліна "Методи машинного навчання в системах проектування"
    <br><br><br>
    Звіт
    <br><br>
    Лабораторна робота №1
    <br>
    Робота з PyCaret.
</p>
<br><br>
<table border="0">
    <tr>
        <td>
            Виконав студент KNT-21-1: <br>
            Бондаренко Денис
        </td>
        <td>
            Перевірила: <br>
            Перова І. Г.
        </td>
    </tr>
</table>
<br><br><br>
<p style="text-align: center;">
    Харків 2024
</p>

In [2]:
import pandas as pd
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_column', 2500)
pd.set_option('display.max_colwidth', 2500)

In [3]:
from pycaret.datasets import get_data

df = get_data('titanic')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Опис ознак датасету Titanic

- PassengerId: Унікальний ідентифікатор пасажира
- Survived: Чи вижив пасажир (1 - так, 0 - ні)
- Pclass: Клас квитка (1, 2, 3)
- Name: Ім'я пасажира
- Sex: Стать (male, female)
- Age: Вік пасажира
- SibSp: Кількість братів/сестер або чоловіка/дружини на борту
- Parch: Кількість батьків/дітей на борту
- Ticket: Номер квитка
- Fare: Вартість квитка
- Cabin: Номер каюти (якщо є)
- Embarked: Порт посадки (C = Cherbourg, Q = Queenstown, S = Southampton)

Оберемо цільову змінну 'Survived', оскільки вона відповідає на питання: "Чи виживе пасажир?". Це типова задача класифікації, де ми передбачаємо один з двох можливих класів (1 - вижив, 0 - не вижив).

Визначаємо тип задачі: класифікація
Інші змінні можуть бути використані як предиктори.

In [5]:
from pycaret.classification import *

target = "Survived"

# Налаштовуємо середовище PyCaret
clf = setup(data=df, target=target, session_id=42)

# Порівнюємо моделі
best_model = compare_models()

# Збережимо модель
save_model(best_model, "pz1")

# Виводимо найкращу модель
print(best_model)

Transformation Pipeline and Model Successfully Saved
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=42, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

### Висновки:
- Датасет містить демографічні дані пасажирів та інформацію про квитки.
- Ми вирішуємо задачу бінарної класифікації, оскільки цільова змінна має два класи.
- PyCaret дозволяє швидко порівняти ефективність різних моделей.
- Найкраща модель (яка буде виведена) може бути використана для прогнозування шансів виживання нових пасажирів.
- Ми зберегли кращу модель у файл pz1.pkl