In [8]:
from pycaret.datasets import get_data

In [11]:
dataset = get_data('diamond')

   Carat Weight    Cut Color Clarity Polish Symmetry Report  Price
0          1.10  Ideal     H     SI1     VG       EX    GIA   5169
1          0.83  Ideal     H     VS1     ID       ID   AGSL   3470
2          0.85  Ideal     H     SI1     EX       EX    GIA   3183
3          0.91  Ideal     E     SI1     VG       VG    GIA   4370
4          0.83  Ideal     G     SI1     EX       EX    GIA   3171

In [12]:
#check the shape of data
dataset.shape

(6000, 8)

In [14]:
#check general info of data
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Carat Weight  6000 non-null   float64
 1   Cut           6000 non-null   object
 2   Color         6000 non-null   object
 3   Clarity       6000 non-null   object
 4   Polish        6000 non-null   object
 5   Symmetry      6000 non-null   object
 6   Report        6000 non-null   object
 7   Price         6000 non-null   int64
dtypes: float64(1), int64(1), object(6)
memory usage: 375.1+ KB

In [16]:
#from our data we can see that we need to predict price
#regression is good here, couse its continuous type of data

In [17]:
#we can check several models to compare their results and choose the best one

Data preparing

In [18]:
#do the train-test split to check seen and unseen data
data = dataset.sample(frac=0.9, random_state=786).reset_index(drop=True)
data_unseen = dataset.drop(data.index).reset_index(drop=True)

print('Data for Modeling: ' + str(data.shape))
print('Unseen Data For Predictions: ' + str(data_unseen.shape))

Data for Modeling: (5400, 8)
Unseen Data For Predictions: (600, 8)

In [19]:
from pycaret.regression import *

# setup and normalize our data
reg = setup(data = data, target = 'Price', session_id=123,
                  normalize = True, experiment_name = 'diamond1')

In [20]:
top_models = compare_models()

In [23]:
print(top_models)

ExtraTreesRegressor(n_jobs=-1, random_state=123)

In [24]:
knn = create_model('knn')

In [25]:
print(knn)

KNeighborsRegressor(n_jobs=-1)

In [26]:
tuned_knn = tune_model(knn)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [27]:
# after we tuned model, results get better from 0.64 to 0.75

In [28]:
plot_model(tuned_knn, plot = 'parameter')

              Parameters
algorithm           auto
leaf_size             30
metric         minkowski
metric_params       None
n_jobs                -1
n_neighbors            9
p                      2
weights         distance

In [34]:
#Decision Tree
dt = create_model('dt', fold = 5)

In [32]:
tuned_dt = tune_model(dt)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [35]:
#Random Forest
rf = create_model('rf', round = 2)

In [36]:
boosted_dt = ensemble_model(dt, method = 'Boosting')

In [39]:
final_dt = finalize_model(dt)

In [40]:
print(final_dt)

Pipeline(memory=FastMemory(location=C:\Users\user\AppData\Local\Temp\joblib),
         steps=[('numerical_imputer',
                 TransformerWrapper(include=['Carat Weight'],
                                    transformer=SimpleImputer())),
                ('categorical_imputer',
                 TransformerWrapper(include=['Cut', 'Color', 'Clarity',
                                             'Polish', 'Symmetry', 'Report'],
                                    transformer=SimpleImputer(strategy='most_frequent'))),
                ('ordinal_enc...
                 TransformerWrapper(include=['Cut', 'Color', 'Clarity',
                                             'Polish', 'Symmetry'],
                                    transformer=OneHotEncoder(cols=['Cut',
                                                                    'Color',
                                                                    'Clarity',
                                                                    'Polish',
                                                                    'Symmetry'],
                                                              handle_missing='return_nan',
                                                              use_cat_names=True))),
                ('normalize', TransformerWrapper(transformer=StandardScaler())),
                ('clean_column_names',
                 TransformerWrapper(transformer=CleanColumnNames())),
                ('actual_estimator', DecisionTreeRegressor(random_state=123))])

In [41]:
predict_model(final_dt)

,Carat Weight,Cut,Color,Clarity,Polish,Symmetry,Report,Price,prediction_label
3172,1.16,Ideal,E,SI1,EX,EX,GIA,7059,7059.0
658,1.14,Ideal,G,SI1,EX,VG,GIA,5809,5809.0
3180,1.25,Very Good,G,IF,VG,VG,GIA,10641,10641.0
1340,0.79,Ideal,G,SI1,VG,EX,GIA,2871,2871.0
586,2.23,Very Good,H,VS2,VG,VG,GIA,21706,22629.0
...,...,...,...,...,...,...,...,...,...
790,1.22,Ideal,F,VVS1,EX,EX,GIA,12906,12906.0
4934,0.83,Ideal,E,SI1,G,EX,GIA,3235,3235.0
469,1.51,Very Good,I,VS2,VG,VG,GIA,9058,9118.0
2061,1.16,Ideal,I,SI1,EX,VG,GIA,5091,5091.0
3018,2.06,Signature-Ideal,I,IF,ID,ID,AGSL,25354,25354.0

In [42]:
unseen_predictions = predict_model(final_dt, data=data_unseen)
unseen_predictions.head()

,Carat Weight,Cut,Color,Clarity,Polish,Symmetry,Report,Price,prediction_label
0,1.21,Ideal,G,VVS1,EX,EX,GIA,11572,11572.000000
1,2.00,Ideal,I,SI1,EX,VG,GIA,16775,16775.000000
2,1.51,Good,F,SI1,VG,G,GIA,10429,10429.000000
3,0.90,Ideal,F,SI1,EX,EX,GIA,4523,4523.000000
4,1.01,Very Good,I,SI1,VG,VG,GIA,4375,4233.333333

In [43]:
save_model(final_dt, 'Final DT Model Nure')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=C:\Users\user\AppData\Local\Temp\joblib),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['Carat Weight'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['Cut', 'Color', 'Clarity',
                                              'Polish', 'Symmetry', 'Report'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('ordinal_enc...
                  TransformerWrapper(include=['Cut', 'Color', 'Clarity',
                                              'Polish', 'Symmetry'],
                                     transformer=OneHotEncoder(cols=['Cut',
                                                                     'Color',
                                                                     'Clarity',
                                                                     'Polish',
                                                                     'Symmetry'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('normalize', TransformerWrapper(transformer=StandardScaler())),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('actual_estimator', DecisionTreeRegressor(random_state=123))]),
 'Final DT Model Nure.pkl')