In [208]:
from pycaret.datasets import get_data
df = get_data('forest')

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [209]:
display(df)

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [210]:
X, Y: координати місця пожежі.
month: місяць, коли сталася пожежа.
day: день тижня, коли сталася пожежа.
FFMC: вказує на вологість лісової підстилки.
DMC: показує вологість мохової підстилки.
DC: показує ступінь сушіння підстилки.
ISI: індекс швидкості розповсюдження пожежі.
temp: температура навколишнього середовища.
RH: відносна вологість повітря.
wind: швидкість вітру.
rain: кількість опадів.
area: площа пожежі, яку охоплює вогонь

SyntaxError: only single target (not tuple) can be annotated (1437098480.py, line 1)

In [211]:
df.month.value_counts()

aug    184
sep    172
mar     54
jul     32
feb     20
jun     17
oct     15
apr      9
dec      9
jan      2
may      2
nov      1
Name: month, dtype: int64

In [212]:
df.shape

(517, 13)

In [213]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       517 non-null    int64
 1   Y       517 non-null    int64
 2   month   517 non-null    object
 3   day     517 non-null    object
 4   FFMC    517 non-null    float64
 5   DMC     517 non-null    float64
 6   DC      517 non-null    float64
 7   ISI     517 non-null    float64
 8   temp    517 non-null    float64
 9   RH      517 non-null    int64
 10  wind    517 non-null    float64
 11  rain    517 non-null    float64
 12  area    517 non-null    float64
dtypes: float64(8), int64(3), object(2)
memory usage: 52.6+ KB

In [216]:
from pycaret.classification import *  
import pandas as pd  

# Додаємо бінарний клас: пожежа була чи ні  
df['fire'] = (df['area'] > 0).astype(int)  # 1 = пожежа, 0 = немає  

# Налаштування PyCaret  
clf = setup(df, target='fire', session_id=123, ignore_features=['area', 'month', 'day'])  

# Тренування моделі  
best_model = compare_models()  

# Оцінка моделі  
predict_model(best_model)

,X,Y,FFMC,DMC,DC,ISI,temp,RH,wind,rain,fire,prediction_label,prediction_score
209,8,3,93.699997,80.900002,685.200012,17.9,23.200001,26,4.9,0.0,1,1,0.67
276,4,4,85.400002,25.400000,349.700012,2.6,4.600000,21,8.5,0.0,1,1,0.97
106,4,5,91.400002,30.700001,74.300003,7.5,18.200001,29,3.1,0.0,0,0,0.69
453,4,5,89.400002,266.200012,803.299988,5.6,17.400000,54,3.1,0.0,0,0,0.52
468,6,5,91.300003,20.600000,43.500000,8.5,13.300000,27,3.6,0.0,1,0,0.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,3,4,93.300003,141.199997,713.900024,13.9,18.600000,49,3.6,0.0,1,0,0.65
69,4,5,91.699997,33.299999,77.500000,9.0,17.200001,26,4.5,0.0,0,0,0.68
96,3,4,83.900002,8.000000,30.200001,2.6,12.700000,48,1.8,0.0,0,0,0.59
219,6,5,90.099998,39.700001,86.599998,6.2,15.200000,27,3.1,0.0,1,1,0.53
493,1,3,95.900002,158.000000,633.599976,11.3,27.500000,29,4.5,0.0,1,0,0.64

In [217]:
gbc_model = create_model('gbc')
tuned_gbc = tune_model(gbc_model, optimize='AUC', custom_grid={
    'n_estimators': [100],  
    'learning_rate': [0.05, 0.1],  
    'max_depth': [3, 5],       
    'subsample': [0.7, 0.8],    
    'random_state': [42],
})
print(tuned_gbc)

Fitting 10 folds for each of 8 candidates, totalling 80 fits
GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='log_loss', max_depth=5,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_samples_leaf=1,
                           min_samples_split=2, min_weight_fraction_leaf=0.0,
                           n_estimators=100, n_iter_no_change=None,
                           random_state=42, subsample=0.7, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [218]:
lightgbm_model = create_model('lightgbm')

tuned_lightgbm = tune_model(lightgbm_model, optimize='Accuracy',  custom_grid={
        'feature_fraction': [0.4, 0.5, 0.6],
        'num_leaves': [20, 30, 40],  
        'learning_rate': [0.01, 0.05, 0.1],  
        'lambda_l1': [0.1, 0.5, 1],  
        'lambda_l2': [0.1, 0.5, 1], 
        'min_child_weight': [1, 3, 5] 
    })

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [219]:
Найкращі моделі: Моделі "Ada Boost Classifier", "Gradient Boosting Classifier", "Light Gradient Boosting Machine" досягли дуже високих результатів по всіх метриках (accuracy, precision, recall, F1, AUC, Kappa, MCC), що свідчить про їхню високу ефективність.
Найгірші моделі: Моделі, такі як "SVM - Linear Kernel", "Dummy Classifier", "Ridge Classifier" і "Linear Discriminant Analysis" показують значно гірші результати в порівнянні з іншими моделями.

SyntaxError: invalid syntax (765758623.py, line 1)

In [ ]:
clf_model.get_config('X_train')

In [220]:
clf_model.get_config('X_train').columns

Index(['X', 'Y', 'month', 'day', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH',
       'wind', 'rain', 'area'],
      dtype='object')

In [221]:
clf_model.models()

,Name,Reference,Turbo
ID,,,
lr,Logistic Regression,sklearn.linear_model._logistic.LogisticRegression,True
knn,K Neighbors Classifier,sklearn.neighbors._classification.KNeighborsCl...,True
nb,Naive Bayes,sklearn.naive_bayes.GaussianNB,True
dt,Decision Tree Classifier,sklearn.tree._classes.DecisionTreeClassifier,True
svm,SVM - Linear Kernel,sklearn.linear_model._stochastic_gradient.SGDC...,True
rbfsvm,SVM - Radial Kernel,sklearn.svm._classes.SVC,False
gpc,Gaussian Process Classifier,sklearn.gaussian_process._gpc.GaussianProcessC...,False
mlp,MLP Classifier,sklearn.neural_network._multilayer_perceptron....,False
ridge,Ridge Classifier,sklearn.linear_model._ridge.RidgeClassifier,True
rf,Random Forest Classifier,sklearn.ensemble._forest.RandomForestClassifier,True
qda,Quadratic Discriminant Analysis,sklearn.discriminant_analysis.QuadraticDiscrim...,True
ada,Ada Boost Classifier,sklearn.ensemble._weight_boosting.AdaBoostClas...,True
gbc,Gradient Boosting Classifier,sklearn.ensemble._gb.GradientBoostingClassifier,True
lda,Linear Discriminant Analysis,sklearn.discriminant_analysis.LinearDiscrimina...,True
et,Extra Trees Classifier,sklearn.ensemble._forest.ExtraTreesClassifier,True
lightgbm,Light Gradient Boosting Machine,lightgbm.sklearn.LGBMClassifier,True
dummy,Dummy Classifier,sklearn.dummy.DummyClassifier,True

In [224]:
evaluate_model(best_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [236]:
display(df.head(100))

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,fire
0,7,5,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.0,0
1,7,4,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.0,0
2,7,4,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.0,0
3,8,6,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.0,0
4,8,6,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4,4,sep,sun,89.7,90.0,704.4,4.8,17.8,64,1.3,0.0,0.0,0
96,3,4,feb,sat,83.9,8.0,30.2,2.6,12.7,48,1.8,0.0,0.0,0
97,3,4,mar,sat,69.0,2.4,15.5,0.7,17.4,24,5.4,0.0,0.0,0
98,3,4,aug,sun,91.4,142.4,601.4,10.6,11.6,87,4.5,0.0,0.0,0
99,3,4,aug,sun,91.4,142.4,601.4,10.6,19.8,39,5.4,0.0,0.0,0

In [230]:
save_model(best_model, 'prediction_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['X', 'Y', 'FFMC', 'DMC', 'DC',
                                              'ISI', 'temp', 'RH', 'wind',
                                              'rain'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=None,
                                                               keep_empty_features=False,
                                                               missing_values=nan,
                                                               strategy='mean'))),
                 ('categorical_imputer',
                  TransformerWrapper(exclud...
                  RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                         class_weight=None, criterion='gini',
                                         max_depth=None, max_features='sqrt',
                                         max_leaf_nodes=None, max_samples=None,
                                         min_impurity_decrease=0.0,
                                         min_samples_leaf=1, min_samples_split=2,
                                         min_weight_fraction_leaf=0.0,
                                         monotonic_cst=None, n_estimators=100,
                                         n_jobs=-1, oob_score=False,
                                         random_state=123, verbose=0,
                                         warm_start=False))],
          verbose=False),
 'prediction_model.pkl')

In [227]:
df.to_csv("forest_data.csv", index=False)

In [228]:
model = load_model('prediction_model')

Transformation Pipeline and Model Successfully Loaded

In [229]:
print(model)

Pipeline(memory=FastMemory(location=C:\Users\alexa\AppData\Local\Temp\joblib),
         steps=[('numerical_imputer',
                 TransformerWrapper(exclude=None,
                                    include=['X', 'Y', 'FFMC', 'DMC', 'DC',
                                             'ISI', 'temp', 'RH', 'wind',
                                             'rain'],
                                    transformer=SimpleImputer(add_indicator=False,
                                                              copy=True,
                                                              fill_value=None,
                                                              keep_empty_features=False,
                                                              missing_values=nan,
                                                              strategy='mean'))),
                ('catego...
                 LGBMClassifier(boosting_type='gbdt', class_weight=None,
                                colsample_bytree=1.0, importance_type='split',
                                learning_rate=0.1, max_depth=-1,
                                min_child_samples=20, min_child_weight=0.001,
                                min_split_gain=0.0, n_estimators=100, n_jobs=-1,
                                num_leaves=31, objective=None, random_state=123,
                                reg_alpha=0.0, reg_lambda=0.0, subsample=1.0,
                                subsample_for_bin=200000, subsample_freq=0))],
         verbose=False)

In [234]:
metrics = pull()

In [235]:
metrics.to_csv("classification_metrics.csv", index=False)