In [ ]:
import pandas as pd
from pycaret.datasets import get_data
from pycaret.classification import *  
import pickle


bank = get_data("bank")


feature_description = {
    "age": "Вік клієнта",
    "job": "Тип роботи",
    "marital": "Сімейний стан",
    "education": "Рівень освіти",
    "default": "Наявність кредиту в минулому",
    "balance": "Середній баланс на рахунку",
    "housing": "Чи є житловий кредит",
    "loan": "Чи є персональний кредит",
    "contact": "Спосіб контакту",
    "day": "День місяця останнього контакту",
    "month": "Місяць останнього контакту",
    "duration": "Тривалість останнього контакту в секундах",
    "campaign": "Кількість контактів під час кампанії",
    "pdays": "Кількість днів з моменту останнього контакту (999 - не було контакту)",
    "previous": "Кількість контактів до поточної кампанії",
    "poutcome": "Результат попередньої маркетингової кампанії",
    "deposit": "Цільова змінна: підписка на депозит (yes/no)"
}


clf_setup = setup(bank, target='deposit', session_id=123)


best_model = compare_models()


final_model = finalize_model(best_model)


predictions = predict_model(final_model)


model_filename = "bank_model.pkl"
save_model(final_model, model_filename)

print(f"Модель збережено як {model_filename}")

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

Transformation Pipeline and Model Successfully Saved
Модель сохранена как bank_model.pkl

In [8]:
bank.to_csv("bank_data.csv", index=False)

In [9]:
metrics = pull()

In [6]:
metrics.to_csv("classification_metrics.csv", index=False)